<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search student</title>
    <style>
      body {
        background-color: antiquewhite;
      }
      label {
        display: inline-block;
        margin: 0.5rem;
      }
    </style>
  </head>
  <body>
    <h1>WELCOME TO KPM BERANANG</h1>
    <h2>Search Student</h2>

    <form action="search_student" method="post">
      {% csrf_token %}
      <h3>Search by Student ID</h3>
      <label for=""
        >Student ID:
        <input type="text" name="" />
      </label>
    </form>
  </body>
</html>

<!-- kalau search by course. kena guna dropdown je risau
user type benda lain. -->
